@import url("https://fonts.googleapis.com/css?family=Ek+Mukta:700|Muli:200,300,400");
html,
body {
  height: 100vh;
  margin: 0;
  background: black;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

.potd {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: inherit;
  color: #fff;
}

.potd #photo-img {
  margin: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  max-height: 100vh;
  background-size: cover;
  background-position: center;
  border: 0;
  opacity: 0;
  -webkit-transition: .5s ease-in-out all;
  transition: .5s ease-in-out all;
}

.potd #photo-img.displayed {
  opacity: 1;
}

.potd #photo-caption {
  position: fixed;
  bottom: 110px;
  right: 70px;
  opacity: 0;
  font-size: 25px;
  -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.4));
  font-weight: bold;
  -webkit-transition: .5s ease-in-out all;
  transition: .5s ease-in-out all;
}

.potd #photo-caption.displayed {
  opacity: 1;
}

.potd #photo-caption:before {
  content: "";
  margin-right: 15px;
}

.potd .today-display {
  position: absolute;
  top: 50px;
  left: 50px;
  text-align: center;
}

.potd .today-display #time-display {
  font-size: 100px;
  font-weight: bold;
  color: white;
  -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.4));
  opacity: 0;
  -webkit-transition: .5s ease-in-out all;
  transition: .5s ease-in-out all;
  letter-spacing: 7px;
}

.potd .today-display #time-display.displayed {
  opacity: 1;
}

.potd .today-display #date-display {
  font-size: 40px;
  font-weight: bold;
  color: white;
  -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.4));
  opacity: 0;
  -webkit-transition: .5s ease-in-out all;
  transition: .5s ease-in-out all;
  letter-spacing: 5px;
}

.potd .today-display #date-display.displayed {
  opacity: 1;
}

.potd #weather-display {
  position: absolute;
  top: 50px;
  right: 50px;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 10px;
  color: black;
  -webkit-transition: .5s ease-in-out all;
  transition: .5s ease-in-out all;
  opacity: 0;
}

.potd #weather-display img {
  width: 35px;
  margin-right: 10px;
}

.potd #weather-display p {
  font-size: 12px;
  text-transform: capitalize;
  margin-right: 10px;
}

.potd #weather-display p#weather-temp {
  font-weight: bold;
  font-size: 20px;
}

.potd #weather-display.displayed {
  opacity: 1;
}

.potd .now-message {
  position: absolute;
  bottom: 60px;
  left: 50px;
  text-align: center;
}

.potd .now-message #message-display {
  font-size: 40px;
  font-weight: bold;
  color: white;
  -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.4));
  opacity: 0;
  -webkit-transition: .5s ease-in-out all;
  transition: .5s ease-in-out all;
}

.potd .now-message #message-display.displayed {
  opacity: 1;
}

.potd #credits-display {
  position: fixed;
  bottom: 60px;
  right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  opacity: 0;
  -webkit-transition: .5s ease-in-out all;
  transition: .5s ease-in-out all;
}

.potd #credits-display img {
  width: 100%;
}

.potd #credits-display.displayed {
  opacity: 1;
}

.potd #credits-display a {
  color: white;
  padding: 0 7px;
  font-weight: bold;
}
/*# sourceMappingURL=global.css.map */