@import url("https://fonts.googleapis.com/css?family=Ek+Mukta:700|Muli:200,300,400");

html,
body {
    height: 100vh;
    margin: 0;
    background: black;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}



.potd {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: inherit;
    color: #fff;

    #photo-img {
        margin: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        max-height: 100vh;
        background-size: cover;
        background-position: center;
        border: 0;
        opacity: 0;
        transition: .5s ease-in-out all;

        &.displayed{
            opacity: 1;
        }
    }

    #photo-caption{
        position: fixed;
        bottom: 70px;
        left: 125px;
        opacity: 0;
        font-size: 17px;
        -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, .4));
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, .4));
        font-weight: bold;

        &.displayed{
            opacity: 1;
        }
    }

    .today-display {
        position: absolute;
        top: 50px;
        left: 50px;
        text-align: center;

        #time-display{
            font-size: 100px;
            font-weight: bold;
            color: white;
            -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, .4));
            filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, .4));
            opacity: 0;
            transition: .5s ease-in-out all;
            letter-spacing: 7px;
    
            &.displayed{
                opacity: 1;
            }
        }
    
        #date-display{
            font-size: 40px;
            font-weight: bold;
            color: white;
            -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, .4));
            filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, .4));
            opacity: 0;
            transition: .5s ease-in-out all;
            letter-spacing: 5px;
    
            &.displayed{
                opacity: 1;
            }
        }
    }
    
    #weather-display{
        position: absolute;
        top: 50px;
        right: 50px; 
        max-width: 500px;
        background: white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        color: black;
        transition: .5s ease-in-out all;
        opacity: 0;

        img{
            width: 35px;
            margin-right: 10px;
        }

        p{
            font-size: 12px;
            text-transform: capitalize;
            margin-right: 10px;

            &#weather-temp{
                font-weight: bold;
                font-size: 20px;
            }
        }

        &.displayed{
            opacity: 1;
        }
    }

    .now-message{

        position: absolute;
        bottom: 60px;
        right: 50px;
        text-align: center;

        #message-display{
            font-size: 40px;
            font-weight: bold;
            color: white;
            -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, .4));
            filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, .4));
            opacity: 0;
            transition: .5s ease-in-out all;
    
            &.displayed{
                opacity: 1;
            }
        }
    }
    

    #credits-display {
        position: fixed;
        bottom: 60px;
        left: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .5));
        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .5));
        opacity: 0;
        transition: .5s ease-in-out all;
    
        img {
            width: 100%;
        }

        &.displayed{
            opacity: 1;
        }
    }
    
}

